In [1]:
import os

from collections import Counter

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

font_path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'
fm.fontManager.addfont(font_path)
font_name = fm.FontProperties(fname=font_path).get_name()
plt.rcParams['font.family'] = font_name
plt.rcParams['axes.unicode_minus'] = False

import seaborn as sns

In [2]:
data_path = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy' + '/'
data_pathlist = os.listdir(data_path)

v = ''
for i in data_pathlist:
    v += f"path_{i.split('.')[0]} = '{data_path + i}'\n{i.split('.')[0]} = pd.read_csv(path_{i.split('.')[0]})\n\n"
print(v)

path_sales_train_evaluation = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/sales_train_evaluation.csv'
sales_train_evaluation = pd.read_csv(path_sales_train_evaluation)

path_sample_submission = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/sample_submission.csv'
sample_submission = pd.read_csv(path_sample_submission)

path_sales_train_validation = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/sales_train_validation.csv'
sales_train_validation = pd.read_csv(path_sales_train_validation)

path_sell_prices = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/sell_prices.csv'
sell_prices = pd.read_csv(path_sell_prices)

path_calendar = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/calendar.csv'
calendar = pd.read_csv(path_calendar)

In [3]:
path_sales_train_evaluation = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/sales_train_evaluation.csv'
sales_train_evaluation = pd.read_csv(path_sales_train_evaluation)

path_sample_submission = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/sample_submission.csv'
sample_submission = pd.read_csv(path_sample_submission)

path_sales_train_validation = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/sales_train_validation.csv'
sales_train_validation = pd.read_csv(path_sales_train_validation)

path_sell_prices = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/sell_prices.csv'
sell_prices = pd.read_csv(path_sell_prices)

path_calendar = '/home/sjt/space/github/kaggle/data/m5-forecasting-accuracy/calendar.csv'
calendar = pd.read_csv(path_calendar)

In [4]:
sales_train_evaluation

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,FOODS_3_823_WI_3_evaluation,FOODS_3_823,FOODS_3,FOODS,WI_3,WI,0,0,2,2,...,1,0,3,0,1,1,0,0,1,1
30486,FOODS_3_824_WI_3_evaluation,FOODS_3_824,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
30487,FOODS_3_825_WI_3_evaluation,FOODS_3_825,FOODS_3,FOODS,WI_3,WI,0,6,0,2,...,0,0,1,2,0,1,0,1,0,2
30488,FOODS_3_826_WI_3_evaluation,FOODS_3_826,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,1,1,4,6,0,1,1,1,0
30489,FOODS_3_827_WI_3_evaluation,FOODS_3_827,FOODS_3,FOODS,WI_3,WI,0,0,0,0,...,1,2,0,5,4,0,2,2,5,1

In [5]:
sales_train_evaluation.columns

Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd_1',
       'd_2', 'd_3', 'd_4',
       ...
       'd_1932', 'd_1933', 'd_1934', 'd_1935', 'd_1936', 'd_1937', 'd_1938',
       'd_1939', 'd_1940', 'd_1941'],
      dtype='object', length=1947)

In [7]:
Counter(sales_train_evaluation['cat_id'])

Counter({'FOODS': 14370, 'HOUSEHOLD': 10470, 'HOBBIES': 5650})